<%- include('partials/header') -%>
<h1>Home</h1>
<p><%= title %></p>

    <%newPost.forEach((post)=> { %>
       <h1><%=post.newTitle %></h1>
       <p><%=post.newPost.substring(0,99)%>...
    <a href="/posts/<%=post.newTitle%>">Read More</a></p>
    <% }) %>
<%- include('partials/footer') -%>